.login-cover .login-main {
    margin-left: auto;
    margin-right: auto
}

.login-cover .input li:before, .topnav .inner .inner:before, .login-cover .input li:after, .topnav .inner .inner:after {
    content: "";
    display: table
}

.login-cover .input li:after, .topnav .inner .inner:after {
    clear: both
}

html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch
}

body {
    margin: 0;
    font-size: 14px;
    line-height: 1.5;
    color: #333;
    background-color: #fff
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
    display: block
}

audio, canvas, progress, video {
    display: inline-block;
    vertical-align: baseline
}

audio:not([controls]) {
    display: none;
    height: 0
}

[hidden], template {
    display: none
}

a {
    background: transparent;
    text-decoration: none;
    color: #08c
}

a:active, a:hover {
    outline: 0
}

a:hover {
    color: #069
}

abbr[title] {
    border-bottom: 1px dotted
}

b, strong {
    font-weight: bold
}

dfn {
    font-style: italic
}

mark {
    background: #ff0;
    color: #000
}

small {
    font-size: 80%
}

sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sup {
    top: -0.5em
}

sub {
    bottom: -0.25em
}

img {
    border: 0;
    vertical-align: middle
}

svg:not(:root) {
    overflow: hidden
}

hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0
}

pre {
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word
}

code, kbd, pre, samp {
    font-family: monospace, monospace;
    font-size: 1em
}

button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0
}

button {
    overflow: visible
}

button, select {
    text-transform: none
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer
}

button[disabled], html input[disabled] {
    cursor: default
}

button::-moz-focus-inner, input::-moz-focus-inner {
    border: 0;
    padding: 0
}

input {
    line-height: normal
}

input[type="checkbox"], input[type="radio"] {
    box-sizing: border-box;
    padding: 0
}

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
    height: auto
}

input[type="search"] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box
}

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none
}

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em
}

legend {
    border: 0;
    padding: 0
}

textarea {
    overflow: auto;
    resize: vertical
}

optgroup {
    font-weight: bold
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

td, th {
    padding: 0
}

html, button, input, select, textarea {
    font-family: "Lantinghei SC", "Open Sans", Arial, "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", "STHeiti", "WenQuanYi Micro Hei", SimSun, sans-serif
}

h1, h2, h3, h4, h5, h6, p, figure, form, blockquote {
    margin: 0
}

ul, ol, li, dl, dd {
    margin: 0;
    padding: 0
}

ul, ol {
    list-style: none outside none
}

h1, h2, h3 {
    line-height: 2;
    font-weight: normal
}

h1 {
    font-size: 21px
}

h2 {
    font-size: 18.2px
}

h3 {
    font-size: 16.38px
}

h4 {
    font-size: 14px
}

h5, h6 {
    font-size: 11.9px;
    text-transform: uppercase
}

input:-moz-placeholder, textarea:-moz-placeholder {
    color: #ccc
}

input::-moz-placeholder, textarea::-moz-placeholder {
    color: #ccc
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
    color: #ccc
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: #ccc
}

@font-face {
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    src: url("../font/font-awesome/fonts/fontawesome-webfont.eot");
    src: url("../font/font-awesome/fonts/fontawesome-webfont.eot?#iefix") format("eot"), url("../font/font-awesome/fonts/fontawesome-webfont.svg#FontAwesome") format("svg"), url("../font/font-awesome/fonts/fontawesome-webfont.woff") format("woff"), url("../font/font-awesome/fonts/fontawesome-webfont.ttf") format("truetype")
}

* {
    -webkit-font-smoothing: antialiased;
    font-family: "Lantinghei SC", "Open Sans", Arial, "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", "STHeiti", "WenQuanYi Micro Hei", SimSun, sans-serif
}

h1 {
    font-size: 20px
}

h2 {
    font-size: 18px
}

h3 {
    font-size: 16px
}

[v-cloak] {
    display: none
}

.login-cover {
    z-index: 1000;
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center
}

.login-cover .login-main {
    position: relative;
    margin: 0px auto;
    background: #ffffff;
    border-radius: 4px;
    -moz-box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.3);
    box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.3);
    width: 440px
}

.login-cover .login-main .closelogin {
    font-size: 36px;
    color: #fff;
    position: absolute;
    top: 0px;
    right: -40px;
    line-height: 18px;
    height: 18px;
    font-style: normal;
    cursor: pointer
}

.login-cover .login-main .closelogin:hover {
    color: #2cb0ff
}

.login-cover .login_adv {
    width: 100%;
    padding: 13px 14px 0px
}

.login-cover .login_adv img {
    max-width: 100%
}

.login-cover .login-title {
    height: 56px;
    border-bottom: 1px solid #e9e9e9;
    margin: 0px auto;
    text-align: center;
    position: relative
}

.login-cover .login-title span {
    width: 171px;
    display: inline-block;
    text-align: center;
    font-size: 18px;
    color: #000000;
    height: 56px;
    line-height: 68px;
    margin: 0px auto;
    cursor: pointer
}

.login-cover .login-title span:hover {
    color: #2cb0ff
}

.login-cover .login-title span.active {
    color: #2cb0ff;
    border-bottom: 3px solid #2cb0ff
}

.login-cover .login-title img {
    position: absolute;
    right: 0px;
    top: 0px;
    height: 100%;
    cursor: pointer
}

.login-cover .weixincode .weixin {
    margin: 0px auto;
    text-align: center
}

.login-cover .weixincode .weixin img {
    width: 280px;
    border: 1px solid #d6d6d6;
    margin: 0px auto;
    text-align: center;
    margin-top: 35px
}

.login-cover .weixincode p {
    margin-top: 13px;
    font-size: 14px;
    color: #999999;
    line-height: 1;
    text-align: center
}

.login-cover .input {
    padding-top: 30px;
    display: none
}

.login-cover .input li {
    position: relative;
    box-sizing: border-box;
    color: #666;
    font-size: 14px;
    padding: 0px 49px;
    padding-bottom: 19px;
    position: relative
}

.login-cover .input li:last-child {
    padding-bottom: 0px
}

.login-cover .input li img {
    vertical-align: middle
}

.login-cover .input li img.icon {
    position: absolute;
    top: 11px;
    left: 65px
}

.login-cover .input li input {
    border: 1px solid #d6d6d6;
    width: 344px;
    height: 45px;
    border-radius: 4px;
    outline: none;
    padding-left: 40px;
    font-size: 14px;
    line-height: 1;
    box-sizing: border-box
}

.login-cover .input li input:focus {
    border: 1px solid #36aeea
}

.login-cover .input li input.vcode {
    width: 220px
}

.login-cover .input li .login-btn {
    display: inline-block;
    width: 345px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    color: #fff;
    border-radius: 30px;
    font-size: 18px;
    background-image: linear-gradient(135deg, #3ba3ff 0%, #2cb1ff 48%, #1cbefe 100%);
    box-shadow: 3px 3px 4px 0px #b3b3b3
}

.login-cover .input li .login-btn:hover {
    opacity: 0.9
}

.login-cover .input li .errorInfo {
    position: absolute;
    left: 0px;
    top: 55px;
    font-size: 12px;
    color: #FF4949;
    display: block;
    text-align: center;
    width: 100%
}

.login-cover .input li .verificationCode-img {
    float: right;
    width: 100px;
    height: 45px;
    box-sizing: border-box;
    border: 1px solid #d6d6d6;
    border-radius: 4px;
    overflow: hidden;
    cursor: pointer
}

.login-cover .input li .verificationCode-img img {
    height: 100%;
    margin-left: -10px
}

.login-cover .input li.aboutPassword {
    overflow: hidden;
    position: relative
}

.login-cover .input li.aboutPassword p {
    font-size: 14px;
    display: inline-block;
    cursor: pointer
}

.login-cover .input li.aboutPassword p:nth-child(1) {
    float: left
}

.login-cover .input li.aboutPassword p:nth-child(1) span {
    vertical-align: middle
}

.login-cover .input li.aboutPassword p:nth-child(1) span:nth-child(1) {
    width: 20px;
    height: 20px;
    display: inline-block;
    border-radius: 3px;
    border: 1px solid #d6d6d6;
    box-sizing: border-box;
    margin-right: 10px
}

.login-cover .input li.aboutPassword p:nth-child(1) span:nth-child(1).active {
    background-image: url("/images/login/keep.png");
    background-repeat: no-repeat;
    background-position: center center;
    border: 1px solid #2cb0ff
}

.login-cover .input li.aboutPassword p:nth-child(1) span:nth-child(2) {
    height: 20px;
    display: inline-block;
    line-height: 20px
}

.login-cover .input li.aboutPassword p:nth-child(2) {
    float: right;
    text-decoration: underline
}

.login-cover .input li.aboutPassword p:nth-child(2) a {
    color: #36aeea
}

.login-cover .input li.other-fun {
    font-size: 14px;
    color: #222222;
    text-align: center;
    padding-top: 10px
}

.login-cover .input li.other-fun a {
    color: #36aeea;
    text-decoration: underline
}

.login-cover .other_login {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    padding: 0px 20px;
    padding-bottom: 30px
}

.login-cover .other_login .weibo_login, .login-cover .other_login .qq_login {
    display: flex;
    padding: 0px 30px;
    position: relative;
    cursor: pointer
}

.login-cover .other_login .weibo_login a, .login-cover .other_login .qq_login a {
    display: flex
}

.login-cover .other_login .weibo_login img, .login-cover .other_login .qq_login img {
    vertical-align: middle;
    margin-right: 8px
}

.login-cover .other_login .weibo_login p, .login-cover .other_login .qq_login p {
    line-height: 34px
}

.login-cover .other_login .weibo_login:hover p, .login-cover .other_login .qq_login:hover p {
    color: #2cb0ff
}

.login-cover .other_login .qq_login::after {
    content: "";
    position: absolute;
    left: -44px;
    top: 17px;
    width: 54px;
    height: 1px;
    background-color: #e0e0e0
}

.login-cover .other_login .weibo_login::after {
    content: "";
    position: absolute;
    right: -44px;
    top: 17px;
    width: 54px;
    height: 1px;
    background-color: #e0e0e0
}

.editor .logo {
    background: #344c67
}

.container {
    overflow: hidden
}

.accountManagementContainer {
    margin: 15px;
    padding: 15px
}

.accountManagementContainer .account_section {
    width: 40%;
    margin-bottom: 5%;
    box-sizing: border-box;
    background-color: #fff;
    border: 1px solid #38B4EE;
    display: inline-block;
    border-radius: 4px
}

.accountManagementContainer .account_section .account_body {
    padding: 10px;
    height: 100px;
    overflow: hidden
}

.accountManagementContainer .account_section .account_body .icon {
    border-radius: 100%;
    width: 42px;
    height: 42px;
    margin-top: -2px;
    font-size: 12px;
    display: table;
    color: #fff;
    text-align: center;
    background: #38B4EE;
    cursor: pointer;
    transition: all .5;
    line-height: 42px
}

.accountManagementContainer .account_section .account_body .icon::before {
    position: relative;
    top: 12px
}

.accountManagementContainer .account_section .account_body .icon:hover {
    background: #1d9d74;
    color: #fff
}

.accountManagementContainer .account_section .account_body .icon:hover::before {
    font-size: 13px
}

.accountManagementContainer .account_section .account_body .left {
    float: left
}

.accountManagementContainer .account_section .account_body .right {
    float: right
}

.accountManagementContainer .account_section .account_body .text-bold {
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 5px
}

.accountManagementContainer .account_section .account_footer {
    border: 1px solid transparent;
    font-size: 12px;
    padding-top: 4px;
    padding-bottom: 4px;
    background-color: #5974d9;
    height: 20px
}

.accountManagementContainer .account_section .account_footer .account_text {
    color: #fff
}

.accountManagementContainer .account_section .account_footer .left {
    float: left
}

.accountManagementContainer .account_section .account_footer .right {
    float: right
}

.personalCenter {
    display: none;
    width: 100%;
    height: auto;
    text-align: center;
    border: 1px solid #eee;
    box-shadow: 0 20px 18px -25px #555;
    position: absolute;
    top: 47px;
    left: 0;
    background: #f2f6fa;
    box-sizing: border-box
}

.personalCenter .personal_section {
    display: inline-block;
    width: 100%;
    height: 40px;
    line-height: 40px;
    float: left
}

.personalCenter .personal_section:hover .personal_text {
    color: #fff;
    background: #2F4056
}

.personalCenter .personal_section:hover .personal_decorate {
    color: #fff;
    background: #2F4056
}

.personalCenter .personal_section .personal_decorate {
    width: 20px;
    height: 100%;
    background: #f2f6fa;
    display: inline-block;
    color: #666;
    line-height: 40px;
    transition: .5s all;
    box-sizing: border-box
}

.personalCenter .personal_section .personal_text {
    width: 80%;
    height: 100%;
    display: inline-block;
    width: calc(100% - 20px);
    font-size: 13px;
    color: #666;
    background: #f2f6fa;
    transition: .5s all;
    vertical-align: top
}

.topnav .inner {
    height: 50px;
    background: #252f39;
    border-bottom: 1px #d2dae4 solid;
    position: relative;
    z-index: 99
}

.topnav .inner #xq_move {
    z-index: 2
}

.topnav .inner #xq_move::after {
    content: "";
    width: 100%;
    height: 46px;
    position: absolute;
    bottom: 3px;
    right: 0px;
    background-color: #000;
    color: #fff
}

.topnav .inner .inner {
    height: 50px
}

.topnav .inner .logo {
    position: absolute;
    top: 0;
    width: 130px;
    background: #252f39;
    height: 49px
}

.topnav .inner .logo img {
    vertical-align: middle;
    height: 35px;
    margin: 8px 0 0 10px
}

.topnav .inner .message {
    position: absolute;
    top: 0;
    left: 145px;
    width: 315px;
    background: #252f39;
    color: #d6d7d9;
    height: 30px;
    line-height: 30px;
    margin-top: 10px;
    overflow: hidden
}

.topnav .inner .message i {
    font-size: 24px;
    cursor: pointer;
    height: 30px;
    line-height: 30px
}

.topnav .inner .message i:hover {
    color: #36aeea
}

.topnav .inner .message .messageShow {
    width: 130px;
    position: absolute;
    top: 0px;
    left: 35px
}

.topnav .inner .message .messageShow p {
    width: 100%;
    height: 30px;
    line-height: 30px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 15px;
    cursor: pointer
}

.topnav .inner .message .messageShow p a:link, .topnav .inner .message .messageShow p a:visited {
    color: #d6d7d9
}

.topnav .inner .message .messageShow p a:hover {
    color: #36aeea
}

.topnav .inner .message .messageShow p a:active {
    color: #d6d7d9
}

.topnav .inner .messageList {
    position: absolute;
    left: 150px;
    top: 50px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 1px 2px 4px 0 #b1b1b1;
    max-height: 300px;
    box-sizing: border-box;
    width: 360px
}

.topnav .inner .messageList > i.fa-times {
    font-size: 12px;
    display: inline-block;
    height: 12px;
    line-height: 12px;
    color: #888;
    position: absolute;
    right: 20px;
    top: 5px;
    cursor: pointer
}

.topnav .inner .messageList > i.fa-times:hover {
    color: #36aeea
}

.topnav .inner .messageList::after {
    content: "";
    position: absolute;
    top: -20px;
    left: 5px;
    width: 0px;
    height: 0px;
    border-top: 10px solid transparent;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
    border-bottom: 10px solid #fff
}

.topnav .inner .messageList ul {
    max-height: 260px;
    overflow-x: hidden;
    overflow-y: auto
}

.topnav .inner .messageList li {
    position: relative;
    padding: 5px 15px
}

.topnav .inner .messageList li::after {
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #888;
    display: inline-block;
    position: absolute;
    left: 0px;
    top: 10px
}

.topnav .inner .messageList li > div span {
    color: #888888;
    display: inline-block;
    font-size: 12px;
    height: 18px;
    line-height: 18px
}

.topnav .inner .messageList li > div span:nth-child(2) {
    margin-left: 10px
}

.topnav .inner .messageList li > div span:nth-child(3) {
    margin-left: 10px;
    width: 45px;
    height: 16px;
    line-height: 16px;
    text-align: center;
    font-size: 14px;
    color: #fff;
    background-color: #FF4949;
    border-radius: 15px
}

.topnav .inner .messageList li > p {
    line-height: 1.5;
    margin-top: 5px;
    font-size: 14px;
    cursor: pointer
}

.topnav .inner .messageList li > p a:link, .topnav .inner .messageList li > p a:visited {
    color: #333 !important
}

.topnav .inner .messageList li > p a:hover {
    color: #36aeea !important
}

.topnav .inner .messageList li > p a:active {
    color: #333 !important
}

.topnav .inner .hidden {
    display: none
}

.topnav .inner .nav {
    float: right;
    color: #4c637b;
    position: relative;
    z-index: 6
}

.topnav .inner .nav > div, .topnav .inner .nav > a {
    position: relative;
    display: inline-block;
    height: 49px;
    line-height: 50px;
    padding: 0 15px;
    font-size: 15px;
    color: #d6d7d9;
    -webkit-transition: background, 0.6s, ease;
    transition: background, 0.6s, ease;
    cursor: pointer;
    vertical-align: top
}

.topnav .inner .nav > div:hover, .topnav .inner .nav > a:hover {
    color: #fff
}

.topnav .inner .nav > div.active, .topnav .inner .nav > a.active {
    color: #fff
}

.topnav .inner .nav > div.purchvip, .topnav .inner .nav > a.purchvip {
    position: relative;
    overflow: hidden
}

.topnav .inner .nav > div.purchvip span:nth-child(1), .topnav .inner .nav > a.purchvip span:nth-child(1) {
    position: relative;
    z-index: 10
}

.topnav .inner .nav_down {
    font-size: 12px;
    margin-left: 5px;
    transition: all .5s
}

.topnav .inner .hot {
    position: absolute;
    display: inline-block;
    width: 16px;
    height: 16px;
    line-height: 16px;
    text-align: center;
    font-size: 12px;
    background: #FF4949;
    border-radius: 50%;
    top: 2px;
    left: -5px;
    color: #fff
}

[v-cloak] {
    display: none
}

.editor_name::after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: 50%;
    right: 5px;
    margin-top: -3px;
    border-width: 6px 6px 0 6px;
    border-style: solid;
    border-color: #FFF transparent
}

.wrapper-dropdown-5 {
    position: relative;
    margin: 0 auto;
    padding: 12px 15px;
    height: 50px !important;
    cursor: pointer;
    outline: none
}

.wrapper-dropdown-5 > span {
    display: block
}

.wrapper-dropdown-5 .stars {
    width: 100%;
    height: 49px;
    position: absolute;
    left: 0px;
    bottom: 0px;
    overflow: hidden
}

.wrapper-dropdown-5 .stars .star {
    width: 30px;
    display: inline-block;
    height: 40px;
    animation: star-ani 5s infinite ease-out
}

.wrapper-dropdown-5 .stars .star1 {
    background-image: url("/images/purchvip/title_vip_bg_1.png");
    background-repeat: no-repeat;
    background-size: 30px auto;
    animation-delay: 1s;
    position: absolute;
    left: 30px;
    top: -40px
}

.wrapper-dropdown-5 .stars .star2 {
    background-image: url("/images/purchvip/title_vip_bg_2.png");
    background-repeat: no-repeat;
    background-size: 30px auto;
    animation-delay: .5s;
    position: absolute;
    left: 40px;
    top: -40px
}

.wrapper-dropdown-5 .stars .star3 {
    background-image: url("/images/purchvip/title_vip_bg_3.png");
    background-repeat: no-repeat;
    background-size: 30px auto;
    animation-delay: 1.5s;
    position: absolute;
    left: 50px;
    top: -40px
}

.wrapper-dropdown-5 .stars .star4 {
    background-image: url("/images/purchvip/title_vip_bg_4.png");
    background-repeat: no-repeat;
    background-size: 20px auto;
    animation-delay: 3s;
    position: absolute;
    left: 60px;
    top: -40px
}

.wrapper-dropdown-5 .stars .star5 {
    background-image: url("/images/purchvip/title_vip_bg_1.png");
    background-repeat: no-repeat;
    background-size: 30px auto;
    animation-delay: 1s;
    position: absolute;
    left: 70px;
    top: -40px
}

.wrapper-dropdown-5 .stars .star6 {
    background-image: url("/images/purchvip/title_vip_bg_2.png");
    background-repeat: no-repeat;
    background-size: 30px auto;
    animation-delay: .5s;
    position: absolute;
    left: 100px;
    top: -40px
}

.wrapper-dropdown-5 .stars .star7 {
    background-image: url("/images/purchvip/title_vip_bg_3.png");
    background-repeat: no-repeat;
    background-size: 30px auto;
    animation-delay: 1.5s;
    position: absolute;
    left: 90px;
    top: -40px
}

.wrapper-dropdown-5 .stars .star8 {
    background-image: url("/images/purchvip/title_vip_bg_4.png");
    background-repeat: no-repeat;
    background-size: 20px auto;
    animation-delay: 3s;
    position: absolute;
    left: 80px;
    top: -40px
}

@keyframes star-ani {
    0% {
        opacity: 0;
        transform: scale(0) rotate(0) translate3d(0, 0, 0)
    }
    50% {
        opacity: 1;
        transform: scale(1) rotate(0) translate3d(-90px, 90px, 0)
    }
    100% {
        opacity: 0;
        transform: scale(1) rotate(0) translate3d(-120px, 120px, 0)
    }
}

.wrapper-dropdown-5 .dropdown {
    margin-right: -136px;
    float: left;
    background: #fff;
    border-radius: 0 0 5px 5px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-top: none;
    border-bottom: none;
    list-style: none;
    max-height: 0;
    overflow: hidden
}

.wrapper-dropdown-5 .dropdown li {
    padding: 0 10px
}

.wrapper-dropdown-5 .dropdown li:last-of-type a {
    border: none
}

.wrapper-dropdown-5 .dropdown li a {
    display: block;
    text-decoration: none;
    color: #333;
    border-bottom: 1px solid #e6e8ea;
    height: 40px;
    line-height: 40px;
    font-size: 15px;
    text-align: left
}

.wrapper-dropdown-5 .dropdown li i {
    display: inline-block;
    width: 25px;
    text-align: left;
    height: 40px;
    line-height: 40px;
    color: inherit;
    vertical-align: middle;
    font-size: 17px
}

.wrapper-dropdown-5 .dropdown li:hover a {
    color: #57a9d9
}

.wrapper-dropdown-5.active {
    box-shadow: none;
    border-bottom: none;
    color: white !important
}

.wrapper-dropdown-5.active .dropdown {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    max-height: 400px
}

.nav > a:active {
    color: #fff
}

.login-cover {
    z-index: 1000;
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center
}

.login-cover .login-main {
    position: relative;
    margin: 0px auto;
    background: #ffffff;
    border-radius: 4px;
    -moz-box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.3);
    box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.3);
    width: 440px
}

.login-cover .login-main .closelogin {
    font-size: 36px;
    color: #fff;
    position: absolute;
    top: 0px;
    right: -40px;
    line-height: 18px;
    height: 18px;
    font-style: normal;
    cursor: pointer
}

.login-cover .login-main .closelogin:hover {
    color: #2cb0ff
}

.login-cover .login_adv {
    width: 100%;
    padding: 13px 14px 0px
}

.login-cover .login_adv img {
    max-width: 100%
}

.login-cover .login-title {
    height: 56px;
    border-bottom: 1px solid #e9e9e9;
    margin: 0px auto;
    text-align: center;
    position: relative
}

.login-cover .login-title span {
    width: 171px;
    display: inline-block;
    text-align: center;
    font-size: 18px;
    color: #000000;
    height: 56px;
    line-height: 68px;
    margin: 0px auto;
    cursor: pointer
}

.login-cover .login-title span:hover {
    color: #2cb0ff
}

.login-cover .login-title span.active {
    color: #2cb0ff;
    border-bottom: 3px solid #2cb0ff
}

.login-cover .login-title img {
    position: absolute;
    right: 0px;
    top: 0px;
    height: 100%;
    cursor: pointer
}

.login-cover .weixincode .weixin {
    margin: 0px auto;
    text-align: center
}

.login-cover .weixincode .weixin img {
    width: 280px;
    border: 1px solid #d6d6d6;
    margin: 0px auto;
    text-align: center;
    margin-top: 35px
}

.login-cover .weixincode p {
    margin-top: 13px;
    font-size: 14px;
    color: #999999;
    line-height: 1;
    text-align: center
}

.login-cover .input {
    padding-top: 30px;
    display: none
}

.login-cover .input li {
    position: relative;
    box-sizing: border-box;
    color: #666;
    font-size: 14px;
    padding: 0px 49px;
    padding-bottom: 19px;
    position: relative
}

.login-cover .input li:last-child {
    padding-bottom: 0px
}

.login-cover .input li img {
    vertical-align: middle
}

.login-cover .input li img.icon {
    position: absolute;
    top: 11px;
    left: 65px
}

.login-cover .input li input {
    border: 1px solid #d6d6d6;
    width: 344px;
    height: 45px;
    border-radius: 4px;
    outline: none;
    padding-left: 40px;
    font-size: 14px;
    line-height: 1;
    box-sizing: border-box
}

.login-cover .input li input:focus {
    border: 1px solid #36aeea
}

.login-cover .input li input.vcode {
    width: 220px
}

.login-cover .input li .login-btn {
    display: inline-block;
    width: 345px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    color: #fff;
    border-radius: 30px;
    font-size: 18px;
    background-image: linear-gradient(135deg, #3ba3ff 0%, #2cb1ff 48%, #1cbefe 100%);
    box-shadow: 3px 3px 4px 0px #b3b3b3
}

.login-cover .input li .login-btn:hover {
    opacity: 0.9
}

.login-cover .input li .errorInfo {
    position: absolute;
    left: 0px;
    top: 55px;
    font-size: 12px;
    color: #FF4949;
    display: block;
    text-align: center;
    width: 100%
}

.login-cover .input li .verificationCode-img {
    float: right;
    width: 100px;
    height: 45px;
    box-sizing: border-box;
    border: 1px solid #d6d6d6;
    border-radius: 4px;
    overflow: hidden;
    cursor: pointer
}

.login-cover .input li .verificationCode-img img {
    height: 100%;
    margin-left: -10px
}

.login-cover .input li.aboutPassword {
    overflow: hidden;
    position: relative
}

.login-cover .input li.aboutPassword p {
    font-size: 14px;
    display: inline-block;
    cursor: pointer
}

.login-cover .input li.aboutPassword p:nth-child(1) {
    float: left
}

.login-cover .input li.aboutPassword p:nth-child(1) span {
    vertical-align: middle
}

.login-cover .input li.aboutPassword p:nth-child(1) span:nth-child(1) {
    width: 20px;
    height: 20px;
    display: inline-block;
    border-radius: 3px;
    border: 1px solid #d6d6d6;
    box-sizing: border-box;
    margin-right: 10px
}

.login-cover .input li.aboutPassword p:nth-child(1) span:nth-child(1).active {
    background-image: url("/images/login/keep.png");
    background-repeat: no-repeat;
    background-position: center center;
    border: 1px solid #2cb0ff
}

.login-cover .input li.aboutPassword p:nth-child(1) span:nth-child(2) {
    height: 20px;
    display: inline-block;
    line-height: 20px
}

.login-cover .input li.aboutPassword p:nth-child(2) {
    float: right;
    text-decoration: underline
}

.login-cover .input li.aboutPassword p:nth-child(2) a {
    color: #36aeea
}

.login-cover .input li.other-fun {
    font-size: 14px;
    color: #222222;
    text-align: center;
    padding-top: 10px
}

.login-cover .input li.other-fun a {
    color: #36aeea;
    text-decoration: underline
}

.login-cover .other_login {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    padding: 0px 20px;
    padding-bottom: 30px
}

.login-cover .other_login .weibo_login, .login-cover .other_login .qq_login {
    display: flex;
    padding: 0px 30px;
    position: relative;
    cursor: pointer
}

.login-cover .other_login .weibo_login a, .login-cover .other_login .qq_login a {
    display: flex
}

.login-cover .other_login .weibo_login img, .login-cover .other_login .qq_login img {
    vertical-align: middle;
    margin-right: 8px
}

.login-cover .other_login .weibo_login p, .login-cover .other_login .qq_login p {
    line-height: 34px
}

.login-cover .other_login .weibo_login:hover p, .login-cover .other_login .qq_login:hover p {
    color: #2cb0ff
}

.login-cover .other_login .qq_login::after {
    content: "";
    position: absolute;
    left: -44px;
    top: 17px;
    width: 54px;
    height: 1px;
    background-color: #e0e0e0
}

.login-cover .other_login .weibo_login::after {
    content: "";
    position: absolute;
    right: -44px;
    top: 17px;
    width: 54px;
    height: 1px;
    background-color: #e0e0e0
}

.editor .logo {
    background: #344c67
}

.container {
    overflow: hidden
}

.accountManagementContainer {
    margin: 15px;
    padding: 15px
}

.accountManagementContainer .account_section {
    width: 40%;
    margin-bottom: 5%;
    box-sizing: border-box;
    background-color: #fff;
    border: 1px solid #38B4EE;
    display: inline-block;
    border-radius: 4px
}

.accountManagementContainer .account_section .account_body {
    padding: 10px;
    height: 100px;
    overflow: hidden
}

.accountManagementContainer .account_section .account_body .icon {
    border-radius: 100%;
    width: 42px;
    height: 42px;
    margin-top: -2px;
    font-size: 12px;
    display: table;
    color: #fff;
    text-align: center;
    background: #38B4EE;
    cursor: pointer;
    transition: all .5;
    line-height: 42px
}

.accountManagementContainer .account_section .account_body .icon::before {
    position: relative;
    top: 12px
}

.accountManagementContainer .account_section .account_body .icon:hover {
    background: #1d9d74;
    color: #fff
}

.accountManagementContainer .account_section .account_body .icon:hover::before {
    font-size: 13px
}

.accountManagementContainer .account_section .account_body .left {
    float: left
}

.accountManagementContainer .account_section .account_body .right {
    float: right
}

.accountManagementContainer .account_section .account_body .text-bold {
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 5px
}

.accountManagementContainer .account_section .account_footer {
    border: 1px solid transparent;
    font-size: 12px;
    padding-top: 4px;
    padding-bottom: 4px;
    background-color: #5974d9;
    height: 20px
}

.accountManagementContainer .account_section .account_footer .account_text {
    color: #fff
}

.accountManagementContainer .account_section .account_footer .left {
    float: left
}

.accountManagementContainer .account_section .account_footer .right {
    float: right
}

.personalCenter {
    display: none;
    width: 100%;
    height: auto;
    text-align: center;
    border: 1px solid #eee;
    box-shadow: 0 20px 18px -25px #555;
    position: absolute;
    top: 47px;
    left: 0;
    background: #f2f6fa;
    box-sizing: border-box
}

.personalCenter .personal_section {
    display: inline-block;
    width: 100%;
    height: 40px;
    line-height: 40px;
    float: left
}

.personalCenter .personal_section:hover .personal_text {
    color: #fff;
    background: #2F4056
}

.personalCenter .personal_section:hover .personal_decorate {
    color: #fff;
    background: #2F4056
}

.personalCenter .personal_section .personal_decorate {
    width: 20px;
    height: 100%;
    background: #f2f6fa;
    display: inline-block;
    color: #666;
    line-height: 40px;
    transition: .5s all;
    box-sizing: border-box
}

.personalCenter .personal_section .personal_text {
    width: 80%;
    height: 100%;
    display: inline-block;
    width: calc(100% - 20px);
    font-size: 13px;
    color: #666;
    background: #f2f6fa;
    transition: .5s all;
    vertical-align: top
}

.topnav .inner {
    height: 50px;
    background: #252f39;
    border-bottom: 1px #d2dae4 solid;
    position: relative;
    z-index: 99
}

.topnav .inner #xq_move {
    z-index: 2
}

.topnav .inner #xq_move::after {
    content: "";
    width: 100%;
    height: 46px;
    position: absolute;
    bottom: 3px;
    right: 0px;
    background-color: #000;
    color: #fff
}

.topnav .inner .inner {
    height: 50px
}

.topnav .inner .logo {
    position: absolute;
    top: 0;
    width: 130px;
    background: #252f39;
    height: 49px
}

.topnav .inner .logo img {
    vertical-align: middle;
    height: 35px;
    margin: 8px 0 0 10px
}

.topnav .inner .message {
    position: absolute;
    top: 0;
    left: 145px;
    width: 315px;
    background: #252f39;
    color: #d6d7d9;
    height: 30px;
    line-height: 30px;
    margin-top: 10px;
    overflow: hidden
}

.topnav .inner .message i {
    font-size: 24px;
    cursor: pointer;
    height: 30px;
    line-height: 30px
}

.topnav .inner .message i:hover {
    color: #36aeea
}

.topnav .inner .message .messageShow {
    width: 130px;
    position: absolute;
    top: 0px;
    left: 35px
}

.topnav .inner .message .messageShow p {
    width: 100%;
    height: 30px;
    line-height: 30px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 15px;
    cursor: pointer
}

.topnav .inner .message .messageShow p a:link, .topnav .inner .message .messageShow p a:visited {
    color: #d6d7d9
}

.topnav .inner .message .messageShow p a:hover {
    color: #36aeea
}

.topnav .inner .message .messageShow p a:active {
    color: #d6d7d9
}

.topnav .inner .messageList {
    position: absolute;
    left: 150px;
    top: 50px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 1px 2px 4px 0 #b1b1b1;
    max-height: 300px;
    box-sizing: border-box;
    width: 360px
}

.topnav .inner .messageList > i.fa-times {
    font-size: 12px;
    display: inline-block;
    height: 12px;
    line-height: 12px;
    color: #888;
    position: absolute;
    right: 20px;
    top: 5px;
    cursor: pointer
}

.topnav .inner .messageList > i.fa-times:hover {
    color: #36aeea
}

.topnav .inner .messageList::after {
    content: "";
    position: absolute;
    top: -20px;
    left: 5px;
    width: 0px;
    height: 0px;
    border-top: 10px solid transparent;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
    border-bottom: 10px solid #fff
}

.topnav .inner .messageList ul {
    max-height: 260px;
    overflow-x: hidden;
    overflow-y: auto
}

.topnav .inner .messageList li {
    position: relative;
    padding: 5px 15px
}

.topnav .inner .messageList li::after {
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #888;
    display: inline-block;
    position: absolute;
    left: 0px;
    top: 10px
}

.topnav .inner .messageList li > div span {
    color: #888888;
    display: inline-block;
    font-size: 12px;
    height: 18px;
    line-height: 18px
}

.topnav .inner .messageList li > div span:nth-child(2) {
    margin-left: 10px
}

.topnav .inner .messageList li > div span:nth-child(3) {
    margin-left: 10px;
    width: 45px;
    height: 16px;
    line-height: 16px;
    text-align: center;
    font-size: 14px;
    color: #fff;
    background-color: #FF4949;
    border-radius: 15px
}

.topnav .inner .messageList li > p {
    line-height: 1.5;
    margin-top: 5px;
    font-size: 14px;
    cursor: pointer
}

.topnav .inner .messageList li > p a:link, .topnav .inner .messageList li > p a:visited {
    color: #333 !important
}

.topnav .inner .messageList li > p a:hover {
    color: #36aeea !important
}

.topnav .inner .messageList li > p a:active {
    color: #333 !important
}

.topnav .inner .hidden {
    display: none
}

.topnav .inner .nav {
    float: right;
    color: #4c637b;
    position: relative;
    z-index: 6
}

.topnav .inner .nav > div, .topnav .inner .nav > a {
    position: relative;
    display: inline-block;
    height: 49px;
    line-height: 50px;
    padding: 0 15px;
    font-size: 15px;
    color: #d6d7d9;
    -webkit-transition: background, 0.6s, ease;
    transition: background, 0.6s, ease;
    cursor: pointer;
    vertical-align: top
}

.topnav .inner .nav > div:hover, .topnav .inner .nav > a:hover {
    color: #fff
}

.topnav .inner .nav > div.active, .topnav .inner .nav > a.active {
    color: #fff
}

.topnav .inner .nav > div.purchvip, .topnav .inner .nav > a.purchvip {
    position: relative;
    overflow: hidden
}

.topnav .inner .nav > div.purchvip span:nth-child(1), .topnav .inner .nav > a.purchvip span:nth-child(1) {
    position: relative;
    z-index: 10
}

.topnav .inner .nav_down {
    font-size: 12px;
    margin-left: 5px;
    transition: all .5s
}

.topnav .inner .hot {
    position: absolute;
    display: inline-block;
    width: 16px;
    height: 16px;
    line-height: 16px;
    text-align: center;
    font-size: 12px;
    background: #FF4949;
    border-radius: 50%;
    top: 2px;
    left: -5px;
    color: #fff
}

[v-cloak] {
    display: none
}

.editor_name::after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: 50%;
    right: 5px;
    margin-top: -3px;
    border-width: 6px 6px 0 6px;
    border-style: solid;
    border-color: #FFF transparent
}

.wrapper-dropdown-5 {
    position: relative;
    margin: 0 auto;
    padding: 12px 15px;
    height: 50px !important;
    cursor: pointer;
    outline: none
}

.wrapper-dropdown-5 > span {
    display: block
}

.wrapper-dropdown-5 .stars {
    width: 100%;
    height: 49px;
    position: absolute;
    left: 0px;
    bottom: 0px;
    overflow: hidden
}

.wrapper-dropdown-5 .stars .star {
    width: 30px;
    display: inline-block;
    height: 40px;
    animation: star-ani 5s infinite ease-out
}

.wrapper-dropdown-5 .stars .star1 {
    background-image: url("/images/purchvip/title_vip_bg_1.png");
    background-repeat: no-repeat;
    background-size: 30px auto;
    animation-delay: 1s;
    position: absolute;
    left: 30px;
    top: -40px
}

.wrapper-dropdown-5 .stars .star2 {
    background-image: url("/images/purchvip/title_vip_bg_2.png");
    background-repeat: no-repeat;
    background-size: 30px auto;
    animation-delay: .5s;
    position: absolute;
    left: 40px;
    top: -40px
}

.wrapper-dropdown-5 .stars .star3 {
    background-image: url("/images/purchvip/title_vip_bg_3.png");
    background-repeat: no-repeat;
    background-size: 30px auto;
    animation-delay: 1.5s;
    position: absolute;
    left: 50px;
    top: -40px
}

.wrapper-dropdown-5 .stars .star4 {
    background-image: url("/images/purchvip/title_vip_bg_4.png");
    background-repeat: no-repeat;
    background-size: 20px auto;
    animation-delay: 3s;
    position: absolute;
    left: 60px;
    top: -40px
}

.wrapper-dropdown-5 .stars .star5 {
    background-image: url("/images/purchvip/title_vip_bg_1.png");
    background-repeat: no-repeat;
    background-size: 30px auto;
    animation-delay: 1s;
    position: absolute;
    left: 70px;
    top: -40px
}

.wrapper-dropdown-5 .stars .star6 {
    background-image: url("/images/purchvip/title_vip_bg_2.png");
    background-repeat: no-repeat;
    background-size: 30px auto;
    animation-delay: .5s;
    position: absolute;
    left: 100px;
    top: -40px
}

.wrapper-dropdown-5 .stars .star7 {
    background-image: url("/images/purchvip/title_vip_bg_3.png");
    background-repeat: no-repeat;
    background-size: 30px auto;
    animation-delay: 1.5s;
    position: absolute;
    left: 90px;
    top: -40px
}

.wrapper-dropdown-5 .stars .star8 {
    background-image: url("/images/purchvip/title_vip_bg_4.png");
    background-repeat: no-repeat;
    background-size: 20px auto;
    animation-delay: 3s;
    position: absolute;
    left: 80px;
    top: -40px
}

@keyframes star-ani {
    0% {
        opacity: 0;
        transform: scale(0) rotate(0) translate3d(0, 0, 0)
    }
    50% {
        opacity: 1;
        transform: scale(1) rotate(0) translate3d(-90px, 90px, 0)
    }
    100% {
        opacity: 0;
        transform: scale(1) rotate(0) translate3d(-120px, 120px, 0)
    }
}

.wrapper-dropdown-5 .dropdown {
    margin-right: -136px;
    float: left;
    background: #fff;
    border-radius: 0 0 5px 5px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-top: none;
    border-bottom: none;
    list-style: none;
    max-height: 0;
    overflow: hidden
}

.wrapper-dropdown-5 .dropdown li {
    padding: 0 10px
}

.wrapper-dropdown-5 .dropdown li:last-of-type a {
    border: none
}

.wrapper-dropdown-5 .dropdown li a {
    display: block;
    text-decoration: none;
    color: #333;
    border-bottom: 1px solid #e6e8ea;
    height: 40px;
    line-height: 40px;
    font-size: 15px;
    text-align: left
}

.wrapper-dropdown-5 .dropdown li i {
    display: inline-block;
    width: 25px;
    text-align: left;
    height: 40px;
    line-height: 40px;
    color: inherit;
    vertical-align: middle;
    font-size: 17px
}

.wrapper-dropdown-5 .dropdown li:hover a {
    color: #57a9d9
}

.wrapper-dropdown-5.active {
    box-shadow: none;
    border-bottom: none;
    color: white !important
}

.wrapper-dropdown-5.active .dropdown {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    max-height: 400px
}

.nav > a:active {
    color: #fff
}

.nav .course-btn a {
    display: inline-block;
    position: relative;
    padding: 0 8px;
    height: 28px;
    line-height: 28px;
    border-radius: 50px;
    border: 1px solid #FC5763;
    font-size: 15px;
    color: #FC5763;
    margin-top: 11px;
    text-align: center;
    transition: all .3s ease;
    box-sizing: border-box
}

.nav .course-btn a:hover {
    border: 1px solid linear-gradient(-135deg, #FC5763, #FC3B75);
    background: linear-gradient(-135deg, #FC5763, #FC3B75);
    color: #fff
}

.nav .course-btn a:hover::after {
    background-image: url("/images/365course/gift_2.png");
    background-position: center center;
    background-size: auto 16px;
    background-repeat: no-repeat;
    vertical-align: middle
}

.nav .course-btn a::after {
    content: " ";
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url("/images/365course/gift_1.png");
    background-position: center center;
    background-size: auto 16px;
    background-repeat: no-repeat;
    margin-top: -4px;
    vertical-align: middle
}

*, body {
    margin: 0
}

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    line-height: 1.6;
    background: #FFF
}

* {
    max-width: 100%;
    padding: 0;
    box-sizing: border-box !important;
    -webkit-box-sizing: border-box !important;
    word-wrap: break-word !important
}

body {
    -webkit-touch-callout: none;
    position: absolute;
    width: 100%;
    font-size: 16px;
    overflow-x: hidden;
    font-family: "Microsoft YaHei", Arial, sans-serif;
    background-color: #FFF;
    word-break: break-all;
    word-wrap: break-word;
    cursor: text
}

blockquote {
    margin: 0;
    padding-left: 10px;
    border-left: 3px solid #dbdbdb
}

.RankEditor, .video-ng {
    position: relativ
}

::-webkit-scrollbar {
    width: 8px;
    margin-right: 1px
}

::-webkit-scrollbar-track {
    background-color: #e0e0e0
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2)
}

::-webkit-scrollbar-button {
    background-color: #e0e0e0
}

::-webkit-scrollbar-corner {
    background-color: #000
}

html, body {
    box-sizing: border-box !important;
    -webkit-box-sizing: border-box !important;
    word-wrap: break-word !important
}

.container {
    margin: 0px auto;
    background-color: #fff !important
}

.container h2 {
    font-size: 24px;
    font-weight: 400;
    line-height: 1.4;
    margin-bottom: 10px;
    margin-top: 20px
}

.container .author {
    margin-bottom: 18px;
    line-height: 20px;
    font-size: 0px
}

.container .author span {
    font-size: 16px;
    font-style: normal;
    color: #8c8c8c;
    display: inline-block;
    vertical-align: middle;
    margin-left: 8px;
    margin-bottom: 10px
}

.container .author span:nth-child(3) {
    margin-left: 10px;
    font-size: 12px
}

.container .author span:nth-child(3) em {
    display: inline-block;
    margin-right: 5px;
    font-size: 16px;
    font-style: normal
}

.container .author span:nth-child(3) a {
    color: #36aeea;
    font-size: 16px;
    margin-left: 5px
}

.container .MsoNormal > span > span {
    font-family: inherit !important
}

.container span {
    font-family: inherit
}

.container table {
    width: 100% !important
}

.container .footer-supply {
    width: 100%;
    margin: 20px auto;
    text-align: center;
    border-top: 1px solid #e5e5e5;
    color: #888;
    max-width: 640px;
    font-size: 14px
}

.container .footer-supply p {
    height: 32px;
    line-height: 32px
}

.container .footer-supply p a {
    color: #36aeea;
    margin: 0px 5px
}

.container blockquote {
    border-left: 3px solid #dbdbdb;
    padding-left: 10px
}

[v-cloak] {
    display: none
}

li {
    list-style: inherit !important
}

ul, ol {
    padding-left: 15px !important
}

img {
    height: auto !important
}
